* {
    margin: 0px;
    padding: 0px;
    font-family: "Stencil Std", fantasy;
  }
  
  body {
    background-color: #DBDBDB;
  }
  
  #header {
    background-color: #85C7F2;
    text-align: center;
    padding: 3em;
    font-size: x-large;
  }
  
  #main {
  }
  
  h1 {
    margin: 1% 13% 1% 13%;
    text-align: center;
  }
  
  h2 {
    margin: 1% 13% 2% 13%;
    text-align: center;
  }
  
  p {
    margin: 0% 15% 0% 15%;
  }
